//@media all and (max-width: 1690px) { ...}
//@media all and (max-width: 1280px) { ...}
//@media all and (max-width: 980px) { ... }
//@media all and (max-width: 736px) { ... }
@mobile-small: ~"all and (max-width: 767px)";
//@media all and (max-width: 480px) { ... }

@box-width: 350px;
@box-height: 375px;
@footer-height: 450px;

@font-family-h1: 'Merriweather', serif;
@font-family-body: 'Noto Sans', sans-serif;
@font-base-size: 16px;
@font-body-size: 1.0rem;

