@import "../ui/mixins";
@import "../ui/variables";

.demo-grid {

  display: flex;

  .intro-box {
    display: flex;
    flex-direction: column;
    width: @box-width;
    background-color: rgb(255, 62, 176);
    box-shadow: inset 0 0 5em 1em #c72987;
    padding: 12px;
    color: white;

    a {
      color: white;
    }
  }
}
